<div>Today's date :- {{ presentDate }}</div>
<div>Today's date :- {{ presentDate | date }}</div>
<h1>Parameters</h1>
<div>
  This is a short date: - {{ presentDate | date: 'shortDate' }}<br />
  This line shows the full date: - {{ presentDate | date: 'fullDate' }}<br />
  This will show a formatted date: - {{ presentDate | date: 'M/dd/yyyy' }}<br />
  This indicates the hours and minutes: - {{ presentDate | date: 'h:mm' }}
  <h1>Andrew Ginelle Macapagal</h1>
</div>
<h1>Chained Pipes</h1>
<div>
  Date with uppercase: - {{ presentDate | date: 'fullDate' | uppercase }}<br />
  Date with lowercase: - {{ presentDate | date: 'medium' | lowercase }}
</div>
<h1>Async Pipes</h1>
<div>Seconds changing in Time: {{ time$ | async | date: 'mediumTime' }}</div>
<h1>Currency</h1>
<h3>Currency Pipe</h3>
<p>{{ price | currency: '':true }}</p>
<p>{{ price | currency: 'INR' }}</p>
